<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      {%for pair in value %}
        {%if pair|length == 3%}
          <tr>
            <td  class="bg-danger">{{pair[0]}}</td>
            <td  class="bg-danger">{{pair[1]}}</td>
          </tr>
        {%endif%}
        
        {% if pair|length == 2 %}
          {%if pair[0]!= 'HKD' %}
            <tr>
              <td>{{pair[0]}}</td>
              <td>{{pair[1]}}</td>
            </tr>
          {%endif%}

          {% if pair[0]== 'HKD'%}
            <tr>
              <td class="table-danger">{{pair[0]}}</td>
              <td class="table-danger">{{pair[1]}}</td>
            </tr>
          {%endif%}
        {%endif%}

      {%endfor%}
      

    </tbody>
  </table>
  
  
</body>
</html>